.panel.panel-default
  .panel-heading
    i.fa.fa-fw.fa-warning
    span.label-fa.label.label-default 404 
  .panel-body
    .center-block 
      h3 A keresett oldal nem található  
      img(src='https://puncturedartefact.files.wordpress.com/2013/05/ac2ef857f22ede5a7a9bc4632c35919c.jpg')